:root 
{
    --system-ui: system-ui, "Roboto", sans-serif, Helvetica, Arial, sans-serif, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body
{
    font-family: var(--system-ui);
    background-color: tan;
    font-size: 1.25vw;
}

.global-container
{
    display: grid;
    grid-template-rows: repeat(4, 25vh);
    grid-template-columns: 1fr 3fr;
}

button.add-book
{
    display: grid;
    grid-area: 1 / 1 / 1 / 2;
    margin: 1em;
    justify-content: center;
    align-content: center;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgb(255, 87, 87);
    border: 1.25px solid black;
    font-size: 2vw;
    font-weight: bold;
    transition: 0.25s;
}

button.add-book:hover
{
    background-color: rgb(255, 57, 57);
    transition: 0.25s;
}

form.add-book-form
{
    display: grid;
    justify-content: center;
    text-align: center;
    visibility: hidden;
    grid-area: 2 / 1 / 5 / 2;
    background-color: rgb(179, 255, 255);
    border: 1px solid black;
    border-radius: 25px;
    margin: 1em;
}

form.add-book-form div
{
    display: grid;
    align-content: space-around;
    font-weight: bold;
    margin: 1em;
}

form.add-book-form div:nth-child(4)::first-line
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
}

form input
{
    border-radius: clamp(45px, 50px, 55px);
    border: 0.5px solid black;
    width: clamp(12.5vw, 15vw, 20vw);
    height: 4vh;
    max-height: 5vw;
    font-size: 1.5vw;
    text-align: center;

}

form input ::-webkit-outer-spin-button, form input ::-webkit-inner-spin-button
{
    display: none;
}

::placeholder
{
    font-size: 50%;
}

#is_read
{
    background-color: red;
    text-align: center;
    border-radius: 50px;
    border: 0.5px solid black;
    cursor: pointer;
    height: clamp(50%, 6vh, 7.5vh);
    font-size: max(0.8em, 8%);
    transition: 0.1s;
}

#submit
{
    display: grid;
    height: clamp(2.5vh, 6vh, 7vh);
    font-size: max(0.8em, 8%);
    width: 12.5vw;
    justify-self: center;
}

#submit:hover
{
    background-color: rgb(182, 182, 182);
    cursor: pointer;
}

.shelf-area
{
    display: flex;
    background-color: #7c3f00;
    grid-area: 1 / 2 / 5 / 3;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.shelf-area div
{
    display: grid;
    width: 75%;
    height: 20%;
    background-color: tan;
    border: 5px solid black;
    border-bottom: 0px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    flex-direction: row;
}

.shelf-area div div
{
    /* Generate a random light color for each of the books here. */
    border: 2px solid black;
    height: 97%;
    width: 100%;
    align-self: flex-start;
}

body, .shelf-area
{
    margin: 0;
    padding: 0;
}